<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3Sixty</title>
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- font awesome -->
    <script src="/javascripts/all.js"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <!-- main css-->
    <link rel="stylesheet" href="/stylesheets/inidex.css">
</head>
<body>
    <!-- nav section -->
    <nav class="navbar py-3 navbar-light bg-white navbar-expand-sm">
        <!-- logo -->
        <a href="index.html" class="navbar-brand text-uppercase pr-5">3Sixty</a>
        <!-- navbar toggler -->
        <button type="button" class="navbar-toggler bg-primary" data-toggle="collapse" data-target="#navbarLinks">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- nav links -->
        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav align-items ml-5">
                <button type="button" class="btn btn-primary rounded-pill py-2 px-5 m-2 nav-item" data-toggle="modal" data-target="#signup">Signup</button>
                <button type="button" class="btn btn-primary rounded-pill py-2 px-5 m-2 nav-item" data-toggle="modal" data-target="#login">Login</button>
            </ul>
        </div>
    </nav>
    <!-- end of navbar -->
    <!-- main section -->
    <section class="p-3">
        <div class="container-fluid">
            <div class="row">
                <!-- main content -->
                <div class="col-md-6 py-3">
                    <h1><%= title %></h1>
                    <p>Welcome to <%= title %></p>
                    <h1>You can't really<br/> manage time, but you <br/>can take small steps that counts on a long<br/> run</h1>
                    <div style="font-size: 20px;" class="py-2">
                        <div><i class="fas fa-angle-double-right" style="margin-right: 10px;"></i>Track your daily activities</div>
                        <div><i class="fas fa-angle-double-right" style="margin-right: 10px;"></i>Save important notes or code snippets you're likely to reuse</div>
                        <div><i class="fas fa-angle-double-right" style="margin-right: 10px;"></i>Keep a diary of your daily activities</div>
                    </div>
                    <button type="button" class="btn btn-primary rounded-pill py-2 px-5 mx-1" data-toggle="modal" data-target="#signup">Get Started</button>
                </div>
                <!-- images -->
                <div class="col-md-6 py-3">
                    <div class=" d-block d-md-flex">
                        <div class="col-md-5 mx-auto">
                            <img src="/images/home-img1.png" alt="" class="img-fluid rounded">
                            <p>track your TODOS status</p>
                        </div>
                        <div class="col-md-5 mx-auto">
                            <img src="/images/home-img2.png" alt="" class="img-fluid rounded">
                            <p>jot down reusable code snippets</p>
                        </div>
                    </div>
                    <div class="col-md-5 mx-auto">
                        <img src="/images/home-img3.png" alt="" class="img-fluid rounded">
                        <p>jot down your daily activities</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of main section -->
    <!-- modals -->
    <!-- signup modal -->
    <div class="modal fade" id="signup">
        <div class="modal-dialog modal-sm">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h3 class="modal-title text-center">3Sixty</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>  
                <!-- modal body -->
                <div class="moadal-body">
                    <div>
                        <h4 class="font-weight-bold text-primary">Create your account</h4>
                        <p>Enter your personal details to start your journey</p>
                    </div>
                    <button class="btn btn-outline-primary btn-block py-2 px-5"><i class="fab fa-google"></i> Signup with google</button>
                    <h3 class="text-center">OR</h3>
                    <form action="/" method="POST" class="my-1">
                        <div class="form-group mt-3">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" name="username" id="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" name="email" id="email" class="form-control" placeholder="E-mail">
                        </div>
                        <div class="form-group mt-3">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block text-white rounded-pill">Sign Up</button>
                    </form>
                    <p>Don't have an account? <a data-toggle="modal" data-target="#login" data-dismiss="modal" class="text-primary">Sign in here</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end of signup modal -->
    <!-- login modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog modal-sm">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h3 class="modal-title text-center">3Sixty</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>  
                <!-- modal body -->
                <div class="moadal-body">
                    <div>
                        <h4 class="font-weight-bold text-primary">Hello<br/>Welcome back</h4>
                        <p>Enter your personal details to login</p>
                    </div>
                    <button class="btn btn-outline-primary btn-block py-2 px-5"><i class="fab fa-google"></i> Sign in with Google</button>
                    <h3 class="text-center">OR</h3>
                    <form class="my-1">
                        <div class="form-group mt-3">
                            <input type="email" name="email" id="email" class="form-control" placeholder="E-mail">
                        </div>
                        <div class="form-group mt-3">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="button" class="btn btn-primary btn-block text-white rounded-pill">Sign in</button>
                    </form>
                    <p>Don't have an account? <a data-toggle="modal" data-target="#signup" data-dismiss="modal" class="text-primary">Sign up here</a></p>
                </div>
            </div>
        </div>
    </div>


   <!-- jQuery -->
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
</body>
</html>